/* HEADER  */

.header {
    height: 80px;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header .inner-nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 40px;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.header .inner-nav .inner-logo{
    margin-left: 35px;
}

.header .inner-nav .inner-menu {
    display: flex;
    margin-right: 15px;

}

.header .inner-menu .home {
    color: var(--bg-box-two);
}

.header .inner-menu li {
    padding: 0 20px;
}

.header .inner-menu li:hover a{
    color: var(--bg-box-two);
}

.header .inner-menu a {
    font-size: 14px;
    color: var(--color-one);
    font-weight: 500;
    transition: all 0.3s ease 0s;
    
}

.header .inner-nav .bars {
    display: none;
}

@media (max-width: 1199.98px) {
    .header .inner-menu li {
        padding: 0 13px;
    }
}

@media (max-width: 991.98px) {
    .header .col-12 {
        padding: 0;
    }
    .header .inner-nav .inner-menu {
        display: none;
    }
    .header .inner-nav .bars {
        display: inline-block;
        margin-right: 35px;
        font-size: 30px;
        color: var(--color-one);
    }
}

@media (max-width: 575.98px){
    .header .col-12 {
        padding: 0 15px;
    }
}

/* END HEADER  */


/* SECTION-1 */

.section-1 {
    background-image: url(/assets/images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .inner-wrap {
    width: 55%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    position: relative;
}

.section-1 .inner-wrap .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
}

.section-1 .inner-wrap .desc {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}

.section-1 .inner-wrap .button {
    font-size: 13px;
    background-color: var(--bg-box-two);
    text-align: center;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 30px;
    margin: 0 auto;
    color: #fff;
    transition: all 0.3s ease 0s;

}

.section-1 .inner-wrap .button:hover {
    background-color: var(--bg-box-one);
    text-decoration: none;
}

@media (max-width: 1199.98px) {
    .section-1 .inner-wrap {
        width: 65%;
    }
}

@media (max-width: 991.98px) {
    .section-1 .inner-wrap {
        width: 100%;
        top: 32%;
    }
    .section-1 .inner-wrap .desc {
        margin-bottom: 15px;
        font-size: 14.6px;
    }
    .section-1 .inner-wrap .title {
        margin-bottom: 15px;
    }
}

@media (max-width: 767.98px) {
    .section-1 {
        margin-bottom: 100px;
    }
    .section-1 .inner-wrap .title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .section-1 .inner-wrap .desc {
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 22px;
    }
    .section-1 .inner-wrap {
        top: 0%;
    }
}

@media (max-width: 575.98px) {

}

/* END SECTION-1 */


/* SECTION-2 */
.section-2 {
    margin-top: -160px;
    position: relative;
    z-index: 10;
    /* padding-bottom: 80px; */
    /* display: flex; */
}

.section-2 .inner-box {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    padding: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
}

.section-2 .inner-box:hover .item {
    background-color: var(--bg-box-two);
}

.section-2 .inner-box .item {
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: var(--bg-box-one);
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;

}

.section-2 .inner-box .title h5 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var( --color-one);
    letter-spacing: 0.7px;
    font-weight: 500;
}

.section-2 .inner-box .desc p {
    font-size: 13px;
    color: var(  --color-text);
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;
}

@media (max-width: 991.98px) {
    .section-2 {
        margin: 0;
        flex-wrap: wrap;
    }
    .section-2 .inner-box {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {

}


/* END SECTION-2 */


/* SECTION-3 */

.section-3 {
    padding: 70px 0 80px 0;
}

.section-3 .left {
    display: flex;
}

.section-3 .left img {
    margin: 0 auto;
}

.section-3 .right {
    margin: auto 0 ;
}

.section-3 .title h5 {
    color: var(--color-one);
    font-size: 24px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}

.section-3 .desc p {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
}

@media (max-width: 991.98px) {
    .section-3 .left {
        margin-bottom: 30px;
    }
}
/* END SECTION-3 */


/* SECTION-4 */

.section-4 {
    padding: 70px 0 140px 0;
}

.section-4 .left {
    margin: auto 0;
}

.section-4 .title h5 {
    color: var(--color-one);
    font-size: 24px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}

.section-4 .desc p {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
}

.section-4 .right {
    display: flex;
}

.section-4 .right img {
    margin: 0 auto;
}

@media (max-width: 991.98px) {
    .section-4 .left {
        margin-bottom: 40px;
    }
}

/* END SECTION-4 */

/* SECTION-5 */

.section-5 {
    background-image: url(/assets/images/work-process-bg.png);
    /* width: 100wh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: .95;
    padding: 120px 0;
}

.section-5 .up {
    width: 54%;
    margin: 0 auto;
}

.section-5 .up h5 {
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.section-5 .up p {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    letter-spacing: 0.25px;
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
}

.section-5 .down .box {
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.3s;
}

.section-5 .down .box:hover {
    transform: translateY(-10px);
}

.section-5 .down .box::before {
    content: '';
    position: absolute;
    z-index: -10;
    background: #fff;
    width: 100%;
    opacity: 0.1;
    height: 100%;
    bottom: -10px;
    right: -10px;
    margin: auto;
    border-radius: 20px;
}

.section-5 .down h6 {
    font-size: 17px;
    font-weight: 400;
    color: var(--color-one);
    letter-spacing: 0.25px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.section-5 .down p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text);
    letter-spacing: 0.75px;
}

@media (max-width: 991.98px) {
    .section-5 .up {
        width: 100%;
    }
    .section-5 .up p {
        font-size: 14.5px;
        margin-bottom: 60px;
    }
    .section-5 .down .box {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .section-5 .up p {
        font-size: 15px;
    }
    .section-5 {
        padding: 120px 0 80px 0;
    }
}
/* END SECTION-5 */


/* SECTION-6  */

.section-6 {
    padding: 100px 0;
}

.section-6 .up {
    text-align: center;
    margin: 0 auto;
    width: 52%;
    margin-bottom: 50px;
}

.section-6 .up h2 {
    color: var(--color-one);
    font-size: 28px;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}

.section-6 .up p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    color: var(--color-text);
}

.section-6 .down .box {
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}

.section-6 .down .image {
    text-align: center;
}

.section-6 .down p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.6px;
    color: var(--color-text);
    margin: 25px 0;
}

.section-6 .down .information {
    display: flex;
}

.section-6 .down .avt img  {
    border-radius: 50%;
}

.section-6 .information .infor {
    margin: 8px 0 0 20px;
    position: relative;
    transition: transform 0.3s;
}

.section-6 .information:hover .infor {
    transform: translateX(10px);
}

.section-6 .information h4 {
    font-size: 17px;
    font-weight: 40px;
    color: var(--color-one);
    letter-spacing: 0.25px;
    margin-bottom: 5px;
}


.section-6 .information h5 {
    font-weight: 200;
    font-size: 15px;
    color: var(--bg-box-two);
    letter-spacing: 0.25px;
}

@media (max-width: 1199.98px) {
    .section-6 .down .bonus-bottom {
        padding-top: 26px;
    }
}

@media (max-width: 991.98px) {
    .section-6 .up {
        width: 102%;
    }
    .section-6 .down .bonus-bottom {
        padding-top: 0px;
    }
    .section-6 .down .box {
        margin-bottom: 30px;
    }
    .section-6 {
        padding-bottom: 70px;
    }
}

/* END SECTION-6  */


/* SECTION-7  */

.section-7 {
    padding: 100px 0;
    background-color: var(--bg-two);
}

.section-7 .up {
    text-align: center;
    width: 52%;
    margin: auto;
    margin-bottom: 60px;
}

.section-7 .up h2 {
    color: var(--color-one);
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}

.section-7 .up p {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
}

.section-7 .down .box {
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px 0 40px 0;
    text-align: center;
}

.section-7 .down .inner-title {
    margin-bottom: 15px;
}

.section-7 .down .inner-title p {
    color: var(--color-one);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 40px;
}

.section-7 .down .box-child {
    width: 80%;
    background-color: var(--bg-box-one);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 40px;
} 

.section-7 .down .bg-box-two {
    background: var(--bg-box-two);
}

.section-7 .box-child .top {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    top: -1px;
}


.section-7 .box-child .midle {
    font-size: 28px;
    font-weight: 500;
}

.section-7 .box-child .bottom {
    font-size: 14px;
    display: block;
}

.section-7 .down .list {
    color: var(--color-text);
    margin-bottom: 38px;
}

.section-7 .list li {
    font-size: 13px;
    margin-bottom: 12px;
}

.section-7 .down .button {
    background-color: var(--bg-box-one);
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.25px;
    padding: 12px 20px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;

}

.section-7 .down .button:hover {
    background-color: var(--bg-box-two);
}

@media (max-width: 991.98px) {
    .section-7 .down .box {
        margin-bottom: 30px;
    }
    .section-7 {
        padding: 100px 0 70px 0;
    }
    .section-7 .up {
        width: 96%;
    }
}

@media (max-width: 767.98px) {
    .section-7 .up {
        width: 100%;
    }
}

/* END SECTION-7  */


/* SECTION-8  */

.section-8 {
    padding: 140px 0;
    background-image: url(/assets/images/fun-facts-bg\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.section-8 .box {
    padding: 10px;
    text-align: center;
    color: #fff;
    position: relative;
}
.section-8 .box h2 {
    transition: transform 0.3s;
}
.section-8 .box p {
    transition: transform 0.3s;
}
.section-8 .box:hover h2 {
    transform: translateY(-10px);
}
.section-8 .box:hover p {
    transform: translateY(-10px);
}

.section-8 .after::after {
    content: "";
    position: absolute;
    background-image: url(/assets/images/circle-dec.png);
    background-repeat: no-repeat;
    top: 45px;
    left: 94%;
    width: 100%;
    height: 100%;
}

.section-8 .up::after {
    top: 30px;
}

.section-8 .box h2 {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
}

.section-8 .box p {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
}

@media (max-width: 991.98px) {
    .section-8 {
        padding: 60px 0 30px 0;
    }
    .section-8 .after::after {
        content: none;
    }
    .section-8 .box {
        margin-bottom: 30px;
    }
    .section-8 .box:hover h2 {
        transform: translateY(0);
    }
    .section-8 .box:hover p {
        transform: translateY(0);
    }
}
/* END SECTION-8  */


/* SECTION-9  */

.section-9 {
    padding: 100px 0;
}

.section-9 .up {
    text-align: center;
    width: 52%;
    margin: auto;
    margin-bottom: 50px;

}

.section-9 .up h2 {
    color: var(--color-one);
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.75px;
    line-height: 30px;
    margin-bottom: 20px;
}

.section-9 .up p {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
}
.section-9 .down .image {
    overflow: hidden;
    border-radius: 20px;
    height: 200px;
}

.section-9 .down .box {
    text-align: center;
}

.section-9 .down .title {
    margin-bottom: 30px;
}
.section-9 .down .title a {
    display: inline-block;
    color: var(--color-one);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 26px;
    margin: 30px 0;
    transition: all 0.3s ease 0s;
}

.section-9 .down .title a:hover {
    color: var(--bg-box-two);
}

.section-9 .down .title p {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.26px;
    line-height: 26px;
    margin-bottom: 15px;
} 

.section-9 .down .button {
    font-size: 13px;
    color: #fff;;
    background: var(--bg-box-one);
    letter-spacing: 0.25px;
    transition: all 0.3s ease 0s;
    padding: 12px 20px;
    border-radius: 20px;
}

.section-9 .down .button:hover {
    background: var(--bg-box-two);
}

@media (max-width: 1199.98px) {
    .section-9 .down .title .bonus-b {
        padding-bottom: 26px;
    }
}

@media (max-width: 991.98px) {
    .section-9 .up {
        width: 100%;
    }
   
    .section-9 .down .box {
        margin-bottom: 40px;
    }
    .section-9 {
        padding: 100px 0 70px 0;
    }
    .section-9 .down .title .bonus-b {
        padding-bottom: 0px;
    }
}

/* END SECTION-9  */



/* SECTION-10  */

.section-10 {
    padding: 150px 0;
    background-color: var(--bg-two);
}

.section-10 .up {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    width: 52%;
    
}

.section-10 .up h2 {
    color: var(--color-one);
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 30px;
}

.section-10 .up p {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
}

.section-10 .down h4 {
    color: var(--color-one);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 26px;
    margin-bottom: 30px;
}

.section-10 .down p {
    color: #6F8BA4;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 26px;
    margin-bottom: 30px;
}

.section-10 .down input {
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.section-10 .down input:focus,
.section-10 .down textarea:focus
{
    outline: 4px solid #B5D4FE;
}

.section-10 .down textarea {
    color: #777;
    font-size: 14px;
    border: 1px solid #eee;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.section-10 .down .button {
    color: #fff;
    background-color: var(--bg-box-one);
    padding: 12px 20px;
    letter-spacing: 0.25px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    font-size: 14px;
}

.section-10 .down .button:hover {
    background-color: var(--bg-box-two);
}

@media (max-width: 991.98px) {
    .section-10 .up {
        width: 100%;
    }
}
/* END SECTION-10  */



.footer {
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);;
    padding: 50px 0;
}

.footer .social {
    display: flex;
    justify-content: center;
}

.footer .social a {
    margin-right: 20px;
    color: #9d5bd9;
    text-align: center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s;
}


.footer .social a:hover {
    background: var(--bg-box-two);
    color: #fff;
}
.footer .copy {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    letter-spacing: 0.88px;
    border-top: 1px solid rgba(250,250,250,0.2);
}